body {
  background-color: #d0cab2;
}
.btn {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  border: 2px solid #7333a7 !important;
  border-radius: 5px;
  font-size: 60px !important;
  width: 90px;
  height: 90px;
  cursor: pointer;
  position: relative;
  top: 0;
}
.disabled .btn {
  cursor: default;
}
.disabled .btn:hover {
  top: 0;
}
.btn.disabled {
  cursor: default;
}
.btn.disabled:hover {
  top: 0;
}

.btn:hover {
  top: 2px;
}
.btn:active {
  top: 3px;
}

.game {
  flex-direction: row;
}

ol,
ul {
  list-style-type: none;
}
.status {
  font-size: 30px;
  font-weight: bolder;
}
